In [46]:

import pandas as pd
destinations = {"Countries": ["Guyana", "Vietnam", "Finland", "Ghana", "Spain", "Costa Rica", "Hawaii", "Portugal", "Thailand", "Malta", "France", "United Kingdom", "Germany", "Italy", "Greece"], "Feedback Score": [7, 8, 7, 7, 8, 9, 9, 6, 8, 7, 8, 7, 6, 5, 10], "Average Hotel Rating": [5, 4, 6, 5, 9, 10, 7, 8, 7, 9, 6, 5, 8, 7, 8], "All Inclusive Hotels":[4, 6, 5, 3, 7, 8, 6, 7, 4, 4, 7, 6, 7, 6, 9], "Most Visited": ["Georgetown", "Hanoi", "Helenski", "Accra", "Madrid", "San Jose", "Honolulu", "Lisbon", "Bangkok", "Valleta", "Paris", "London", "Berlin", "Rome", "Athens"]}
myframe = pd.DataFrame(destinations)
print(myframe)
print(myframe.iloc[2:8])
myframe["All Inclusive Hotels"].mean()
myfilter =  myframe["All Inclusive Hotels"] > 9
myframe['Countries'].min()
myframe['Countries'].max()

         Countries  Feedback Score  Average Hotel Rating  \
0           Guyana               7                     5
1          Vietnam               8                     4
2          Finland               7                     6
3            Ghana               7                     5
4            Spain               8                     9
5       Costa Rica               9                    10
6           Hawaii               9                     7
7         Portugal               6                     8
8         Thailand               8                     7
9            Malta               7                     9
10          France               8                     6
11  United Kingdom               7                     5
12         Germany               6                     8
13           Italy               5                     7
14          Greece              10                     8

    All Inclusive Hotels Most Visited
0                      4   Georgetown
1                      6        Hanoi
2                      5     Helenski
3                      3        Accra
4                      7       Madrid
5                      8     San Jose
6                      6     Honolulu
7                      7       Lisbon
8                      4      Bangkok
9                      4      Valleta
10                     7        Paris
11                     6       London
12                     7       Berlin
13                     6         Rome
14                     9       Athens
    Countries  Feedback Score  Average Hotel Rating  All Inclusive Hotels  \
2     Finland               7                     6                     5
3       Ghana               7                     5                     3
4       Spain               8                     9                     7
5  Costa Rica               9                    10                     8
6      Hawaii               9                     7                     6
7    Portugal               6                     8                     7

  Most Visited
2     Helenski
3        Accra
4       Madrid
5     San Jose
6     Honolulu
7       Lisbon

'Vietnam'